/* Bonus Versione Large mobile */
@media screen and (min-width:576px) {

    /* Social networks */
    .social-networks .btn {
        flex-grow: 1;
    }

    /* Presentation */
    .presentation img {
        float: left;
        margin: 10px;
    }
}

/* Versione tablet */

@media screen and (min-width:768px) {
    /* layout */

    .container {
        width: 90%;
    }

    /* main */
    main {

        padding-top: 50px;

    }

    /* header */
    #topbar {
        justify-content: flex-start;

    }

    /* recipe section */


    .recipe-origin {
        display: inline-block;
    }

    .recipe-title {
        font-size: 1.3rem;
    }

    /* Card */
    /* Quick Notes */

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        width: 30%;

    }

    /* Social networks */

    .social-networks .btn {
        flex-grow: 1;
    }

    /* ADS */

    .ads {
        display: block;
    }

    /* Presentation */
    .presentation img {
        float: left;
        margin: 10px;
    }



}

@media screen and (min-width:992px) {

    main {
        min-height: auto;
    }

    .container {
        max-width: 1213px;
    }

    /* recipe section */

    .recipe-title {
        font-size: 1.5rem;
    }

    .recipe-video {
        height: auto;
    }

    /* Recipe Card */
    .recipe-card {
        display: flex;

        .recipe-video {
            width: 70%;
        }

        .recipe-info {
            width: 30%;
        }


    }

    /* Quick Notes */
    .quick-notes {

        ul {
            flex-direction: column;
        }

        li {
            width: 100%;

        }
    }

    /* Social Networks */

    .social-networks {
        .label {
            display: inline-block;
        }
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
        text-align: start;

    }





}